@charset "UTF-8";
div#wrap {
  border: 4px solid #08f;
  width: 600px;
  height: 400px;
  padding: 10px;
  margin: 0px auto;
  padding: 5%;
}
#wrap #new {
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  line-height: 300px;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin: 0px auto;
  background-color: #aaa;
}
